<fieldset class="row">
    <div class="form-group col-md-6">
        <label for="date">Date</label>
        <div class="input-group">
            <input id="date" name="date" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                   ng-model="vm.expense.date" is-open="popup1.opened" ng-click="popup1.opened = true"/>
            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i
                    class="fa fa-calendar"></i></button></span>
        </div>
    </div>
    <!-- /.form-group.col-md-6 -->

    <div class="form-group col-md-6">
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="number" class="form-control" ng-model="vm.expense.amount" readonly/>
    </div>
    <!-- /.form-group.col-md-6 -->

    <div class="form-group col-md-6">
        <label for="account">Account</label>
        <account-select id="account" name="account" ng-model="vm.expense.account"></account-select>
    </div>
    <!-- /.form-group.col-md-6 -->

    <div class="form-group col-md-6">
        <label for="company">To company</label>
        <company-select id="company" name="company" ng-model="vm.expense.company"></company-select>
    </div>
    <!-- /.form-group.col-md-6 -->

    <div class="form-group col-md-12">
        <label for="description">Description</label>
        <input id="description" name="description" type="text" class="form-control" ng-model="vm.expense.description"/>
    </div>
    <!-- /.form-group.col-md-12 -->

    <div class="col-md-12">
        <h3>
            Details
            <a href="javascript:;" class="btn btn-default btn-sm" style="float: right" ng-click="vm.addRow()">
                <i class="fa fa-plus" aria-hidden="true"></i> Add
            </a>
        </h3>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="expenseDocumentRow in vm.expense.rows">
                    <td>{{expenseDocumentRow.product}}</td>
                    <td>{{expenseDocumentRow.amount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->

    </div>
    <!-- /.col-md-12 -->

</fieldset>
<!-- /.row -->
