<form id="addIncomeDocumentRow" ng-submit="vm.save()">
    <div class="modal-title">
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label for="product">
                    {{ 'INCOME_DOCUMENTS.FORM.CONTENT_FORM.FIELDS.PRODUCT_NAME' | translate }}
                </label>
                <product-select id="product"
                                name="product"
                                ng-model="vm.row.productName">
                </product-select>
            </div>
            <div class="form-group">
                <label for="amount">
                    {{ 'INCOME_DOCUMENTS.FORM.CONTENT_FORM.FIELDS.AMOUNT' | translate }}
                </label>
                <input id="amount"
                       type="number"
                       class="form-control"
                       ng-model="vm.row.amount">
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button id="submitAddIncomeDocumentRow"
                type="submit"
                class="btn btn-primary">
            {{ 'INCOME_DOCUMENTS.FORM.CONTENT_FORM.ACTIONS.SAVE' | translate }}
        </button>
        <button id="cancelAddIncomeDocumentRow"
                class="btn btn-default"
                ng-click="vm.cancel()">
            {{ 'INCOME_DOCUMENTS.FORM.CONTENT_FORM.ACTIONS.CANCEL' | translate }}
        </button>
    </div>
</form>
