<form id="addBalanceDocumentRow" ng-submit="vm.save()">
    <div class="modal-title"></div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label for="accountName">Account name</label>
                <input id="accountName" type="text" class="form-control" ng-model="vm.row.accountName">
            </div>
            <div class="form-group">
                <label for="amount">Start amount</label>
                <input id="amount" type="number" class="form-control" ng-model="vm.row.amount">
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button id="submitAddBalanceDocumentRow" type="submit" class="btn btn-primary">Save</button>
        <button id="cancelAddBalanceDocumentRow" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    </div>
</form>
