<div id="list-balanceDocument" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                BalanceDocuments
                <small>list</small>
            </h1>

            <button type="button" class="btn btn-default" style="float: right" data-toggle="popover"
                    data-placement="left" title="Filters" data-html="true"
                    data-content="<form action='balanceDocument.html' class='filter'><div class='form-group'><label>Name</label><input='text' class='form-control'></div><button type='submit' class='btn btn-default'>Search</button></form>">
                <i class="fa fa-filter" aria-hidden="true"></i></button>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file"></i> <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> BalanceDocuments
                </li>
            </ol>
            <!--/.breadcrumb-->

        </div>
    </div>
    <!-- /.row -->

    <div class="row visible-xs">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a ui-sref="balanceDocument.create" class="btn btn-default">Create balance document</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Closed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="balanceDocument in vm.balanceDocumentList"
                        ng-click="vm.go('balanceDocument.show', {id: balanceDocument.id})">
                        <td>{{balanceDocument.date | date : 'yyyy-MM-dd'}}</td>
                        <td>{{balanceDocument.amount}}</td>
                        <td>{{balanceDocument.description}}</td>
                        <td><i class="fa"
                               ng-class="{'fa-lock': balanceDocument.closeDate != null, 'fa-unlock':  balanceDocument.closeDate == null}"
                               aria-hidden="true"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/.table-responsive-->

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->
</div>
<!-- /#list-balanceDocument -->
