<div id="show-exchange" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header hidden-xs">
                Exchange Document
                <small>show</small>
            </h1>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file"></i> <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> <a ui-sref="exchange.list">Exchange Documents</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Show
                </li>
            </ol>
            <!--/.breadcrumb-->

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->

    <div class="row">
        <div class="alert alert-danger alert-dismissable col-md-12"
             role="alert"
             ng-if="vm.errors"
             ng-repeat="error in vm.errors">
            {{error.message}}
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <form ng-submit="vm.process()">
                <fieldset class="row">
                    <div class="form-group col-md-6">
                        <label for="date">Date</label>
                        <div id="date" class="form-control-static">{{vm.exchange.date | date : 'yyyy-MM-dd'}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="amount">Amount</label>
                        <div id="amount" class="form-control-static">{{vm.exchange.amount}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="from">From</label>
                        <div id="from" class="form-control-static">{{vm.exchange.sourceAccount.name}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="to">To</label>
                        <div id="to" class="form-control-static">{{vm.exchange.targetAccount.name}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="status">Status</label>
                        <div id="status" class="form-control-static">{{vm.exchange.status}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description">Description</label>
                        <div id="description" class="form-control-static">{{vm.exchange.description}}</div>
                    </div>
                </fieldset>
                <!-- /.row -->

                <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                <a class="edit btn btn-default" ui-sref="exchange.edit({id: vm.exchange.id})">Edit</a>
                <button class="delete btn btn-default" type="submit" ng-class="{hide: vm.exchange.status == 'PROCESSED'}">Process</button>
                <button class="delete btn btn-default" type="button" ng-class="{hide: vm.exchange.status != 'PROCESSED'}" ng-click="vm.revoke()">Revoke</button>
                <button class="delete btn btn-danger" type="button" ng-click="vm.delete()">Delete</button>
                <a ui-sref="exchange.list" class="btn btn-default">Close</a>
                <!--</div>-->
                <!-- /.panel-body -->

                <!--</div>-->
                <!-- /.panel.panel-default -->

            </form>

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->

</div>
<!-- /#create-exchange -->
