<div id="list-product" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ 'PRODUCTS.LIST.TITLE' | translate }}
                <small>{{ 'PRODUCTS.LIST.SUB_TITLE' | translate }}</small>
            </h1>

            <!--<button type="button" class="btn btn-default" style="float: right" data-toggle="popover"-->
                    <!--data-placement="left" title="Filters" data-html="true"-->
                    <!--data-content="<form action='product.html' class='filter'><div class='form-group'><label>Name</label><input='text' class='form-control'></div><button type='submit' class='btn btn-default'>Search</button></form>">-->
                <!--<i class="fa fa-filter" aria-hidden="true"></i></button>-->

            <!--<ol class="breadcrumb">-->
                <!--<li>-->
                    <!--<i class="fa fa-file"></i> <a ui-sref="dashboard">Dashboard</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<i class="fa fa-file"></i> Products-->
                <!--</li>-->
            <!--</ol>-->
            <!--/.breadcrumb-->

        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>
                            {{ 'PRODUCTS.LIST.HEADERS.NAME' | translate }}
                        </th>
                        <th>
                            {{ 'PRODUCTS.LIST.HEADERS.PARENT' | translate }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in vm.productList"
                        ng-click="vm.go('product.show', {id: product.id})">
                        <td>
                            {{product.name}}
                        </td>
                        <td>
                            {{product.parent}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/.table-responsive-->

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->

    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="list-group">-->
                <!--<a href="javascript:;"-->
                   <!--class="list-group-item"-->
                   <!--ng-repeat-start="product in vm.productList"-->
                   <!--ng-click="product.expanded = !product.expanded"-->
                   <!--ng-dblclick="vm.go('product.show', {id: product.id})">-->
                    <!--{{product.name}}-->
                <!--</a>-->
                <!--<div ng-repeat-end>-->
                    <!--<a href="javascript:;"-->
                       <!--class="list-group-item"-->
                       <!--style="padding-left: 25px"-->
                       <!--ng-if="product.expanded"-->
                       <!--ng-repeat-start="subProduct in product.subProducts"-->
                       <!--ng-click="subProduct.expanded = !subProduct.expanded"-->
                       <!--ng-dblclick="vm.go('product.show', {id: subProducts.id})">-->
                        <!--{{subProduct.name}} ({{subProduct.expanded}})-->
                    <!--</a>-->
                    <!--<div ng-repeat-end>-->
                        <!--<a href="javascript:;"-->
                           <!--class="list-group-item"-->
                           <!--style="padding-left: 25px"-->
                           <!--ng-if="subProduct.expanded"-->
                           <!--ng-repeat="subProduct1 in subProduct.subProducts"-->
                           <!--ng-dblclick="vm.go('product.show', {id: subProduct1.id})">-->
                            <!--{{subProduct1.name}}-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a href="javascript:;" class="list-group-item">Morbi leo risus</a>-->
                <!--<a href="javascript:;" class="list-group-item">Porta ac consectetur ac</a>-->
                <!--<a href="javascript:;" class="list-group-item">Vestibulum at eros</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.list-group &ndash;&gt;-->

        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-12 &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; /.row &ndash;&gt;-->
</div>
<!-- /#list-product -->
